# the-api
ACTBLUE_PASSWORD=""
ACTBLUE_USERNAME=""
PV_API_ENVIRONMENT=""
PV_API_KEY=""
PV_DISCORD_CLIENT_ID=""
PV_DISCORD_CLIENT_SECRET=""
PV_DISCORD_REDIRECT_URI=""
PV_DISCORD_TOKEN=""
PV_GUILD_ID=""
PV_MYSQL_INSTANCE_NAME=""
PV_MYSQL_PASSWORD=""
PV_NEUTRINO_USERID=""
SOLIDARITY_TOKEN=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_VERIFY_SERVICE_SID=""
PV_MYSQL_DATABASE=""
PV_MYSQL_USERNAME=""
PV_NEUTRINO_SECRET=""
GOOGLE_APPLICATION_CREDENTIALS=""

# the-discord-bot
DISCORD_TOKEN=""
PORT=""
API_HOST_ADDR=""
PV_GUILD_ID=""

# the-website
SITE_URL=""
PV_WEBSITE_API_URL=""
